	<div id="background">
		<header class="cf">
			<div class="wrapper_wide">
			<a href="index.html" id="logo">The Portland Podcast Network</a>
			<nav>
				<ul>
					<li><a href="#">Peruse</a></li>
					<li><a href="#">Sign in</a></li>
					<li><a href="#">Record a podcast</a></li>
				</ul>
			</nav>
			</div>
		</header>
		<div class="wrapper_skinny">
			<h1>Peruse local podcasts<br/> or record your own.</h1>
			<a href="#" class="button button_highlight">Peruse</a>
			<a href="#" class="button button_white">Record</a>
		</div>
	</div>